@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Home Page";
}

<hr />
<h3>Kunder och konton</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kundnummer</th>
            <th>Namn</th>
            <th>Konton</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Kontonummer</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in customer.Accounts)
                            {
                                <tr>
                                    <td>@account.Id</td>
                                    <td>@account.Balance.ToString("C")</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
